body
{
    font-family: Calibri, serif;
    padding: 0pt;
}

h1
{
    padding: 0pt;
    line-height: 10pt;
}

h2
{
    font-size: 14pt;
    padding: 0pt;
    line-height: 10pt;
}

.title
{
    background-color: blue;
}

.title1
{
    font-family: Calibri, serif;
    font-size: 15pt;
    font-weight: normal;
    margin: 4pt;
}

.title2
{
    font-family: Calibri, serif;
    font-size: 14pt;
    font-weight: bold;
    margin: 4pt;
}

.testTitle
{
    font-weight: bold;
}

.next
{
    font-weight: bold;
}